{#
/**
 * @file
 * Theme override for a set of filter tips.
 *
 * Available variables:
 * - tips: A pre-constructed list of tips.
 *
 * @ingroup templates
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\FilterTips::preprocessVariables()
 */
#}
{% if tips|length %}
  {% for tip in tips %}
    {% if tip.list|length %}
      {% for item in tip.list %}
        {{ item.tip }}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
