/* Cloud Page */
.map-wrapper {
  position: relative;
  margin-top: 0;
  margin-bottom: 60px;

  &::after {
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 1px;
    content: '';
    background-color: rgba($white, 0.05);

    @include for-phone-portrait-landscape-up() {
      bottom: -25px;
    }
  }

  + .region-content {
    .view-filters {
      .views-exposed-form {
        padding-bottom: 0;
        border-bottom: none;

        .form--inline {
          @include for-phone-portrait-landscape-up() {
            display: flex;
          }
        }

        @include for-phone-portrait-landscape-up() {
          margin-bottom: 0;
        }
      }
    }
  }

  .card-body {
    padding: 25px;

    svg {
      .map {
        fill: rgba($white, 0.2);
      }
    }
  }

  @include for-phone-portrait-landscape-up() {
    margin-bottom: 50px;
  }
}

.block-cloud-config-location {
  .block-title {
    display: none;
  }
}

@include for-phone-portrait-landscape-up() {
  .layout--twocol-tabbed-bricks {
    .tab-pane {
      .pane-content {
        display: block;

        .block-aws-cloud {
          margin: 0;
        }
      }
    }

    .block-cloud-config-location {
      margin: 0;
    }
  }
}

@include for-tablet-landscape-up() {
  .layout--twocol-tabbed-bricks {
    .layout__region {
      flex: auto;
      width: 100%;
    }
  }
}

@include for-tablet-portrait-up() {
  .layout--twocol-tabbed-bricks {
    .layout__region {
      flex: auto;
      width: 100%;
    }
  }
}

.layout--twocol-tabbed-bricks {
  .block-cloud-config-location {
    margin: 0;
  }

  .block-k8s {
    &.block-k8s-node-costs {
      .details-wrapper {
        .field--label {
          width: 180px;
        }

        .field--item {
          width: calc(100% - 200px);
        }
      }
    }
  }
}

.local-actions {
  display: block;
  margin: 0 0 30px;

  li {
    display: inline-block;
    margin: 0 15px 10px 0;

    @include for-small-device-up() {
      margin: 0 20px 0 0;
    }

    @include for-phone-portrait-landscape-up() {
      margin: 0 10px 10px 0;
    }
  }

  @include for-small-device-up() {
    display: flex;
  }

  @include for-phone-portrait-landscape-up() {
    margin: 0 0 10px;
  }
}

.views-exposed-form {
  margin-bottom: 30px;

  .form-inline {
    .js-form-item {
      display: flex;
      align-items: center;
      margin: 0 20px 10px 0;

      label {
        margin-right: 10px;
        white-space: nowrap;
        color: $white;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      @include for-tablet-up() {
        margin: 0 20px 0 0;
      }
    }

    .form-actions {
      @include marginremove();
    }

    @include for-tablet-up() {
      display: flex;
      align-items: center;
    }
  }

  @include for-phone-portrait-landscape-up() {
    margin-bottom: 20px;
  }
}

.viewexpose-form-wrap {
  .views-form {
    form {
      > .form-group {
        display: flex;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba($white, 0.05);

        .form-wrapper {
          display: flex;
          align-items: center;
          width: 100%;

          .form-item {
            display: flex;
            align-items: center;
            margin: 0;

            label {
              margin-right: 10px;
            }

            .select-wrapper {
              @include for-tablet-up() {
                width: 240px;
              }
            }
          }

          .form-actions {
            display: block;
            margin: 0 0 0 20px;
          }
        }

        @include for-phone-portrait-landscape-up() {
          margin-bottom: 25px;
          padding-bottom: 25px;
        }
      }

      .table-responsive {
        + input {
          + input {
            + input {
              + .form-actions {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}

/* Filter Section */
.filter-wrapper {
  width: 100%;
  margin-bottom: 30px;

  .form-wrapper {
    display: flex;
    align-items: center;

    .form-item,
    .form-actions {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
    }

    label {
      margin-right: 10px;
      white-space: nowrap;
      color: $white;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .select-wrapper {
      margin-right: 20px;
    }

    .form-actions {
      margin-right: 30px;
    }
  }
}

/* User login form */
.user-login-form,
.user-pass {
  .form-item {
    margin-bottom: 40px;
  }

  .control-label {
    float: left;
    margin-bottom: 15px;
    color: rgba($white, 0.78);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }

  p {
    width: 100%;
    margin-top: -40px;
    color: rgba($white, 0.78);
    font-size: 13.6px;
  }

  .help-block {
    display: none;
    margin-bottom: 20px;
    color: rgba($white, 0.78);
  }
}

.user-pass {
  p {
    margin-bottom: 40px;
  }
}
