html {
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  color: rgba($white, 0.87);
  background-color: $d-primary-color;
  font-family: $fontroboto;

  &.showbar-open {
    overflow-y: hidden;
    height: 100vh;
  }
}

details > summary {
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
}

.container {
  @include for-phone-portrait-landscape-up() {
    width: 100%;
    padding: 0;
  }

  @include for-phone-table-up() {
    max-width: 100%;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: $d-text-primary-color;
}

ul,
details,
summary {
  list-style-type: none;
}

.equal-height {
  display: flex;
  background-color: $d-secondary-color;

  @include for-phone-table-up() {
    height: auto;
    margin: 0;
  }
}

.left-section {
  position: fixed;
  left: 0;
  height: 100%;
  padding: 0;

  .navbar-header {
    .nav-top {
      @include for-tablet-up() {
        display: none;
      }
    }
  }

  @include for-phone-table-up() {
    position: relative;
    height: auto;
  }
}

.right-section {
  margin-left: auto;
  padding: 0;

  .right-sec-wrapper {
    position: relative;
    background-color: $d-primary-color;

    .main-container {
      padding: 0 30px;

      .col-sm-12 {
        .region-content {
          padding-right: 0;
          padding-left: 0;
        }
      }

      @include for-phone-table-up() {
        padding: 0 16px;
      }
    }

    .main-container {
      min-height: calc(100vh - 110px);
      padding-bottom: 50px;

      @include for-phone-portrait-landscape-up() {
        min-height: calc(100vh - 100px);
      }
    }

    @include for-phone-table-up() {
      height: auto;
      padding: 15px 0;
    }
  }

  @include for-phone-table-up() {
    height: auto;
    margin-left: 0;
    padding: 0;
  }
}

.wrapper {
  .container-fluid {
    @include for-phone-portrait-landscape-up() {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.showbar-overlay {
  overflow: hidden;

  &::before {
    position: fixed;
    z-index: 998;
    top: 0;
    width: 100vw;
    height: 100vh;
    content: '';
    opacity: 0;
    background: $black;
  }

  &.active::before {
    opacity: 0.5;
  }
}

.caret {
  display: inline-block;
  margin-top: -3px;
  margin-left: 5px;
  padding: 3px;
  @include transition(all, 0.3s, ease);
  @include transform(rotate(45deg));
  border: solid;
  border-width: 0 2px 2px 0;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.control-label {
  margin-bottom: 10px;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;

  &.form-required {
    &::after {
      background-image: url('../../images/icn_required_white.svg');
    }
  }
}

.footer {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 14px 0;
  text-align: center;
  color: rgba($white, 0.74);
  border-top: 1px solid rgba($white, 0.05);
  background-color: $d-primary-color;
  font-size: 16px;
  line-height: 1;

  a {
    @include transition(all 0.2s ease-out);

    text-transform: uppercase;
    color: rgba($white, 0.74);

    &:hover {
      color: $d-text-primary-color;
    }
  }
}

/* Srollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba($white, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba($white, 0.2);
}

::selection {
  color: $white;
  background: $d-text-primary-color;
}

.toolbar-lining[aria-label='User account actions'] {
  .toolbar-menu {
    li {
      position: relative;
      display: flex;
      border-left: 1px solid $admin-border;
      background-color: $admin-nav;
      font-family: $fontroboto;

      &::before {
        display: none;
      }

      &.account {
        a {
          padding-left: 17px;
        }
      }

      &.account-edit {
        a {
          position: relative;

          &::before {
            content: '\e136';
          }
        }
      }

      &.logout {
        a {
          position: relative;

          &::before {
            content: '\e163';
          }
        }
      }

      &:hover {
        background-color: $white;
      }

      a {
        padding: 13px 17px 13px 36px;
        color: $admin-nav-text;
        font-size: 13px;
        line-height: 13px;

        &::before {
          position: absolute;
          left: 13px;
          font-family: 'Glyphicons Halflings', sans-serif;
        }
      }

      @include for-phone-table-up() {
        display: block;
        width: 100%;
        border-bottom: 1px solid $admin-border;
        border-left: none;
        background-color: $white;
      }
    }
  }
}

/* Global styling for all menu blocks */
nav {
  &.block-menu.navigation li {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
