/* Button */
.btn-group {
  border-radius: 0;
}

/* Support for new remove button on multi fields */
.button[value='Remove'] {
  color: #fff;
}

.btn {
  position: relative;
  display: inline-block;
  height: 36px;
  padding: 0 13px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include transition(all 0.3s ease-out);
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: $d-primary-color;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba($black, 0.225);
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;

  &.btn-primary {
    background-color: $d-text-primary-color;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
      color: $d-primary-color;
      outline: none;
      box-shadow: 0 4px 11px 0 rgba($d-text-primary-color, 0.375);
    }

    .button {
      height: 30px;
      margin: 0;
      margin-left: -4px;
      padding: 0;
      color: $d-primary-color;
      border: none;
      background-color: $d-text-primary-color;
      font-size: 14px;
      font-weight: 400;

      &:hover,
      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }

  .glyphicon {
    margin-right: 11px;
  }

  &.btn-outline {
    color: $d-text-primary-color;
    border: 1px solid rgba($white, 0.3);
    background-color: transparent;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
      outline: none;
      box-shadow: 0 4px 11px 0 rgba($d-text-primary-color, 0.375);
    }

    .glyphicon {
      color: $d-text-primary-color;
    }
  }

  &.btn-danger {
    color: $d-primary-color;
    background-color: $danger-bg;

    a {
      color: $d-primary-color;
    }

    &:hover,
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
      color: $d-primary-color;
      outline: none;
      box-shadow: 0 4px 11px 0 rgba($danger-bg, 0.375);
    }

    .button {
      height: 30px;
      margin: 0;
      margin-left: -4px;
      padding: 0;
      color: $d-primary-color;
      border: none;
      background-color: $danger-bg;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;

      &:hover,
      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }

  &.btn-cancel {
    color: $d-primary-color;
    background-color: $d-text-primary-color;

    a {
      color: $d-primary-color;
    }

    &:hover,
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
      color: $d-primary-color;
      outline: none;
      box-shadow: 0 4px 11px 0 rgba($d-text-primary-color, 0.375);
    }

    .button {
      margin: 0;
      padding: 0;
      color: $d-primary-color;
      border: none;
      background-color: $d-text-primary-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;

      &:hover,
      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }

  &.no-icon {
    .button {
      margin-left: 0;
    }
  }
}

#edit-actions {
  #edit-preview {
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
    background-color: #18c2e7 !important;

    &:hover {
      color: #000;
      box-shadow: 0 4px 11px 0 rgba(24, 194, 231, 0.275);
    }
  }
}

/* -------------------------------
  Material Design Ripple Effect
---------------------------------- */
.ripple-effect {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;

  .ripple {
    position: absolute;
    display: block;
    transform: scale(0);
    pointer-events: none;
    border-radius: 100%;
    background: rgba($white, 0.5);
  }

  .animated {
    @include animation(ripple 0.6s linear);
  }

  @include keyframes(ripple) {
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }
}
