/* Accordion support for Drupal 10.4+ */
.accordion {
  .accordion-button {
    &:not(.collapsed) {
      box-shadow: none;
    }
  }

  details {
    &[open] .accordion-button {
      color: $white;

      &::after {
        transform: rotate(-135deg);
      }
    }

    &:not([open]) .accordion-button {
      color: $white;

      &::after {
        transform: rotate(45deg);
      }
    }
  }
}

.accordion-item,
.card {
  margin-bottom: 30px;
  border: 1px solid $d-secondary-color;
  border-radius: 10px;
  background-color: $d-primary-color;
  box-shadow: 0 4px rgba($black, 0.15);

  .accordion-header,
  .card-header {
    /* text-transform: capitalize; */
    position: relative;
    padding: 15px 25px;
    list-style: none;
    color: $white;
    border-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $d-secondary-color !important;
    font-size: 18px;
    line-height: 16px;

    &:focus-visible {
      outline: none;
    }

    &::after {
      @extend .caret;

      position: absolute;
      right: 20px;
      width: 8px;
      height: 8px;
      margin-top: 0 !important;
      content: '';
      color: $d-text-primary-color;
    }

    &[aria-expanded='true'] {
      &::after {
        @include transform(rotate(-135deg));

        margin-top: 5px !important;
      }
    }

    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      display: none;
      content: '';
    }

    @include for-phone-table-up() {
      padding: 12px 15px;
      font-size: 16px;
      line-height: 16px;
    }
  }

  .accordion-body,
  .card-body {
    overflow: hidden;
    padding: 25px;
    color: $light-white;
    background-color: $d-primary-color;
    font-size: 16px;

    a {
      color: $d-text-primary-color;
    }

    @include for-phone-table-up() {
      padding: 15px 13px;
    }
  }

  @include for-phone-table-up() {
    margin-top: 0;
  }

  @include for-phone-portrait-landscape-up() {
    margin-bottom: 25px;
  }
}

/* Breadcrumb */
.breadcrumb {
  margin-right: -30px;
  margin-bottom: 0;
  margin-left: -30px;
  padding: 0 50px 0 30px;
  background-color: $d-secondary-color;

  li {
    position: relative;
    align-items: center;
    margin-right: 16px;

    &::after {
      position: absolute;
      right: -11px;
      content: ' / ';
      color: rgba($white, 0.87);
      font-size: 16px;
      line-height: 21px;

      @include for-phone-portrait-landscape-up() {
        line-height: 24px;
      }
    }

    &::before {
      display: none;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    a {
      color: rgba($white, 0.87);
      font-size: 16px;
      line-height: 21px;

      @include for-phone-portrait-landscape-up() {
        line-height: 24px;
      }
    }

    &.active {
      color: rgba($white, 0.38);
      font-size: 16px;
    }
  }

  @include for-phone-table-up() {
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
  }
}

.breadcrumb-wrapper {
  @include for-phone-table-up() {
    overflow: hidden;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

/* Pagination */
.pager-nav {
  margin: 20px 0;

  .pagination {
    padding: 0;

    li {
      margin-right: 14px;
      padding: 0;

      &.is-active {
        a {
          padding: 2px 6px;
          color: $d-text-primary-color;
          border-radius: 2px;
          background-color: rgba($white, 0.2);
          font-weight: 400;
        }
      }

      a {
        color: rgba($white, 0.3);
        font-size: 16px;
        line-height: 16px;
      }

      &.pager__item {
        &--next,
        &--previous {
          display: none;
        }

        &--first,
        &--last {
          a {
            span {
              @include transition(all, 0.3s, ease);
              @include transform(rotate(135deg));

              display: inline-block;
              width: 12px;
              height: 12px;
              margin-top: -3px;
              margin-top: 0;
              margin-left: 5px;
              padding: 3px;
              color: $d-text-primary-color;
              border: solid;
              border-width: 0 2px 2px 0;
              font-size: 0;

              &.visually-hidden {
                display: none;
              }
            }
          }
        }

        &--last {
          a {
            span {
              @include transform(rotate(-45deg));
            }
          }
        }
      }
    }
  }
}

/* Alert Message */
.alert {
  margin: 30px 0;
  padding: 13px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px rgba(29, 31, 34, 0.1);

  p {
    margin-bottom: 0;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    a {
      color: $white;
      font-weight: bold;
    }
  }

  .item-list,
  ul {
    margin-bottom: 0;
    padding-left: 16px;

    li {
      margin-bottom: 0;
      margin-left: 0;
      list-style-type: disc;
      color: $white;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;

      a {
        color: $white;
        font-weight: bold;
      }
    }
  }

  .close {
    position: relative;
    z-index: 9;
    top: 0;
    right: 0;
    float: right;
    padding: 0;
    cursor: pointer;
    color: inherit;
    color: $white;
    border: 0;
    background: 0 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
    appearance: none;

    @include for-phone-table-up() {
      width: 25px;
    }
  }

  &.alert-warning {
    background-color: $alert-warning;

    p,
    a,
    .close {
      color: $alert-warning-text;
    }

    .item-list,
    ul {
      li {
        color: $alert-warning-text;

        a {
          color: $alert-warning-text;
        }
      }
    }
  }

  &.alert-danger {
    background-color: $alert-danger;

    p,
    a,
    .close {
      color: $alert-danger-text;
    }

    .item-list,
    ul {
      li {
        color: $alert-danger-text;

        a {
          color: $alert-danger-text;
        }
      }
    }
  }

  &.alert-success {
    background-color: $alert-success;
  }

  @include for-phone-table-up() {
    margin: 15px 0;
  }
}

.messages--warning {
  margin: 0;
  padding: 13px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px rgba(29, 31, 34, 0.1);

  p {
    margin-bottom: 0;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    a {
      color: $white;
      font-weight: bold;
    }
  }

  &.messages--warning {
    background-color: $alert-warning;

    p,
    a {
      color: $alert-warning-text;
    }
  }

  &.messages--danger {
    background-color: $alert-danger;

    p,
    a {
      color: $alert-danger-text;
    }
  }

  &.messages--success {
    background-color: $alert-success;
  }
}

/* Nav Tabs */
.nav-tabs {
  overflow: hidden;
  flex-wrap: nowrap;
  margin: 0 0 30px;
  border-bottom: none;
  background-color: $d-secondary-color;
  scroll-behavior: smooth;

  li {
    flex: 0 0 auto;
    background-color: $d-secondary-color;

    &.active {
      a {
        color: $d-text-primary-color;

        &::after {
          width: 100%;
        }
      }
    }

    a {
      @include transition(all 0.3s ease-in-out);

      position: relative;
      display: block;
      padding: 14px 24px;
      text-align: center;
      color: rgba($white, 0.74);
      border: none;
      font-size: 16px;
      line-height: 1;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        content: '';
        background-color: $d-text-primary-color;
      }

      &:hover,
      &:focus,
      &:active {
        color: $d-text-primary-color;
        border: none;
      }

      @include for-phone-table-up() {
        padding: 14px 20px;
      }
    }

    .nav-link {
      border: none;
    }

    .nav-link.active {
      color: #18c2e7;
      background-color: transparent;
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 13px;
    right: 0;
    width: 16px;
    height: 16px;
    color: $d-primary-color;
    border: none;
    border-radius: 50%;
    background-color: $d-text-primary-color;
    font-size: 0;

    @include for-phone-portrait-landscape-up() {
      width: 22px;
      height: 22px;
    }
  }

  .slick-prev {
    right: inherit;
    left: -8px;

    &.slick-disabled {
      display: none !important;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      content: '\e257';
      color: $d-primary-color;
      font-family: 'Glyphicons Halflings', sans-serif;
      font-size: 8px;
      line-height: 16px;

      @include for-phone-portrait-landscape-up() {
        line-height: 22px;
      }
    }

    @include for-phone-portrait-landscape-up() {
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .slick-next {
    right: -8px;

    &.slick-disabled {
      display: none !important;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      content: '\e258';
      font-family: 'Glyphicons Halflings', sans-serif;
      font-size: 8px;
      line-height: 16px;

      @include for-phone-portrait-landscape-up() {
        line-height: 22px;
      }
    }

    @include for-phone-portrait-landscape-up() {
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  @include for-phone-table-up() {
    margin: 0 0 24px;
  }
}

.tab-icon {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  text-align: center;
  background-color: $d-secondary-color;
  line-height: 50px;

  i {
    color: rgba($white, 0.74);
  }

  &.arrowdown {
    @include transform(rotate(-180deg));
  }
}

.tabs-wrap {
  position: relative;

  &.wrapflex .nav-tabs {
    overflow: inherit;
    flex-wrap: wrap;
  }
}

.vertical-tabs {
  display: flex;
  margin: 22px 0 30px !important;
  border: none;
  border-bottom: none;

  .vertical-tabs__menu {
    display: flex;
    float: none;
    flex-direction: column;
    width: 30%;
    margin: 0;
    border-top: none;

    .vertical-tabs__menu-item {
      display: flex;
      border: none;
      border-right: 1px solid $admin-nav-text;
      border-bottom: 1px solid $admin-nav-text;
      background-color: $d-secondary-color;

      &.is-selected {
        background-color: $d-secondary-color;

        a {
          color: $d-text-primary-color;

          &::after {
            width: 100%;
            color: $d-text-primary-color;
            border-right: 2px solid $d-text-primary-color;
          }

          .vertical-tabs__menu-item-title {
            text-decoration: none;
            color: $d-text-primary-color;
            font-weight: 500;
          }
        }
      }

      a {
        @include transition(all 0.3s ease-in-out);

        position: relative;
        display: block;
        width: 100%;
        padding: 14px 40px;
        text-align: center;
        color: rgba($white, 0.74);
        border: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          content: '';
          background-color: $d-text-primary-color;
        }

        &:hover {
          text-decoration: none;
          color: $d-text-primary-color;
          border: none;
          outline: none;

          .vertical-tabs__menu-item-title {
            text-decoration: none;
          }
        }

        strong {
          font-weight: normal !important;
        }
      }

      .nav-link {
        border: none;
      }
    }
  }

  .vertical-tabs__panes {
    display: flex;
    flex: 1;

    details {
      flex: 1 1 auto;
      border-radius: 0;
    }

    .details-wrapper {
      &.card-body {
        .form-wrapper {
          margin-bottom: 40px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/* Chart Tooltip */
.tooltip {
  color: $d-primary-color;
}

.details-wrapper {
  .tooltip {
    color: $d-primary-color !important;
  }
}

/* Read-More */
.content {
  .node__links {
    .links {
      li {
        a {
          margin: 0 10px;
          word-spacing: -10px;
        }
      }
    }
  }
}

.search-form {
  .container-inline {
    #edit-submit {
      background-color: $d-text-primary-color;

      &:hover,
      &:active,
      &:focus,
      &:visited {
        color: $d-primary-color;
        box-shadow: 0 4px 11px 0 rgba($d-text-primary-color, 0.375);
      }
    }
  }
}

.action {
  #edit-submit--2 {
    background-color: $d-text-primary-color !important;
      
    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $d-primary-color;
      box-shadow: 0 4px 11px 0 rgba($d-text-primary-color, 0.375);
    }
  }
}

footer {
  padding: 0;
  background-color: #333 !important;

  .region-footer {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    color: #fff;

    h5 {
      text-align: start;
      color: #fff;
    }

    .menu {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0 10px;
      list-style: none;

      li {
        margin: 5px 0;
      }

      a {
        text-decoration: none;
        color: #ddd;

        &:hover {
          color: #fff;
        }
      }
    }

    span {
      color: #bbb;
      font-size: 0.9em;

      a {
        text-decoration: none;
        color: #ddd;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .region-footer {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .region-footer {
      grid-template-columns: 1fr;
    }
  }
}

/* --------Comment Section Design-------- */
.comment-wrapper {
  margin-block: 30px;
  .title {
    margin-top: 0;
  }
  .comment {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: #333;
    .inline {
      li {
        a {
          padding-left: 5px;
        }
      }
    }
    .comment__meta {
      .comment__submitted {
        margin-bottom: 0;
      }
    }
    .content {
      margin-top: 10px;
    }
  }
}

.search-form {
  .form-group {
    .form-submit {
      @media (max-width: 416px) {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
      }
    }
  }
}
