.ui-dialog {
  .ui-dialog-content {
    color: $white;
  }

  .ui-dialog-content,
  .ui-dialog-buttonpane {
    background: $d-primary-color !important;
  }

  .ui-dialog-buttonpane {
    border: none !important;
  }

  .ui-dialog-titlebar {
    color: $white;
    border: none !important;
    background: $d-secondary-color !important;
  }

  .form-actions {
    margin-top: 10px !important;
  }

  .btn-hide {
    display: none;
  }

  .button {
    height: 36px;
    margin: 0 0.5rem;
    padding: 0 13px;
    transition: all 0.3s ease-out;
    text-align: center;
    text-decoration: underline;
    color: $d-primary-color;
    border: none;
    border-radius: 4px;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 36px;

    &:hover {
      text-decoration: none;
      border: none;
      outline: none;
    }

    &.dialog-cancel {
      background-color: $d-text-primary-color;

      &:hover {
        color: $d-primary-color;
        border-color: var(--bs-btn-hover-border-color);
        background-color: $d-text-primary-color;
        box-shadow: 0 4px 11px 0 rgba($d-text-primary-color, 0.375);
      }
    }

    &.button--primary {
      background-color: $danger-bg;

      &:hover {
        color: $d-primary-color;
        border-color: var(--bs-btn-hover-border-color);
        background-color: $danger-bg;
        box-shadow: 0 4px 11px 0 rgba($danger-bg, 0.375);
      }

      &:focus {
        border: none;
        background-color: $danger-bg;
      }
    }
  }

  .ui-dialog-titlebar-close {
    width: 15px;
    height: 15px;
    margin-top: -8px;
    margin-left: -8px;
    background: none;
    background-image: url('../../images/ui_icons_ffffff_256x240.png');
    background-position: 164px -126px;
  }
}

.ui-widget {
  font-family: Roboto, sans-serif !important;

  &.ui-widget-content {
    border: none !important;
  }
}

.ui-button {
  .ui-icon {
    background-image: url('../../images/ui_icons_ffffff_256x240.png') !important;
  }
}
