/* Form Elements for common pages */
.form-control,
#pods_count,
#cost_type,
#chart_period {
  height: 36px;
  margin-top: 0;
  padding: 10px 16px;
  color: rgba($white, 0.47);
  border: 1px solid rgba($white, 0.3);
  border-radius: 4px;
  background-color: $d-primary-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  -webkit-appearance: none;
  appearance: none;

  &:hover,
  &:focus-visible {
    color: rgba($white, 0.47);
    border-color: rgba($white, 0.3);
    background-color: $d-primary-color;
    box-shadow: none;
  }

  &:focus,
  &:active {
    color: rgba($white, 0.47);
    border-color: rgba($d-text-primary-color, 0.8);
    background-color: $d-primary-color;
    box-shadow: none;
  }
}

/* CKEditor styles within the form-textarea-wrapper */
.form-textarea-wrapper {
  .ck {
    .ck-editor__main {
      .ck-content {
        color: rgba($white, 0.47);
        background-color: $d-primary-color;
        font-size: 16px;
        font-weight: 400;

        &:focus {
          border-color: rgba($d-text-primary-color, 0.8);
          box-shadow: none;
        }
      }
    }
  }
}

.form-select {
  -webkit-appearance: none;
  appearance: none;

  &.form-control {
    @extend .form-control;

    padding: 3px 30px 3px 16px;
    background-image: url('../../images/download.svg');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px 12px;

    option {
      padding: 12px 14px;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
    }

    option {
      line-height: 24px;
    }
  }
}

#pods_count,
#cost_type,
#chart_period {
  margin-bottom: 15px;
  padding: 3px 30px 3px 16px;
  background-image: url('../../images/download.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px 12px;
  -webkit-appearance: none;
  appearance: none;

  option {
    padding: 12px 14px;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 16px;
  }

  option {
    line-height: 24px;
  }
}

#k8s-namespace-costs {
  .form-group {
    .form-type-select {
      .form-control {
        margin-bottom: 15px;
      }
    }
  }

  .details-wrapper {
    .form--inline {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }

    select {
      height: 36px;
      padding: 5px 30px 5px 16px;
    }

    .apply-btn {
      margin-bottom: 32px;
    }
  }
}

#k8s_node_allocated_resources {
  .k8s_node_pods_allocation {
    + svg {
      > text {
        fill: $light-white;
      }
    }
  }
}

.block-aws-cloud-low-utilization-instances-block {
  .details-wrapper {
    .item-list {
      ul {
        margin: 20px 0;

        li {
          margin-bottom: 0;
          margin-left: 0;
          padding: 6px 16px;
          border-bottom: 1px solid rgba($white, 0.05);
          background-color: $d-secondary-color !important;

          &:hover {
            background-color: rgba($d-table-hover, 0.04) !important;
          }
        }
      }
    }
  }
}

.views-exposed-form {
  .js-form-item {
    margin-right: 17px;
  }
}

.select-wrapper {
  .select2 {
    &:focus-visible {
      border-color: rgba($d-text-primary-color, 0.8);
      box-shadow: none;
    }
  }
}

#pods_count_option,
#chart_options {
  label {
    margin-right: 10px;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

/* Checkbox */
input[type='checkbox'] {
  position: relative;
  width: 16px;
  height: 16px;
  margin-top: 0 !important;
  margin-right: 8px !important;
  cursor: pointer;
  @include transition(0.25s all ease-out);
  vertical-align: text-top;
  border: 2px solid rgba($white, 0.6);
  border-radius: 2px;
  background-color: $d-secondary-color;
  -webkit-appearance: none;
  appearance: none;

  &::after {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    content: '';
    @include transform(scale(0));
    pointer-events: none;
  }

  &:checked {
    border: none;
    background-color: $d-text-primary-color;
    background-image: none !important;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 14px;
      height: 11px;
      margin: auto;
      @include transform(scale(0.9));
      background-color: $d-text-primary-color;
      background-image: url('../../images/checkbox-done.svg') !important;
      background-repeat: no-repeat;
    }
  }

  &:hover,
  &:focus {
    border-color: $d-text-primary-color;
    outline: none;
  }

  + label {
    cursor: pointer;
  }
}

/* Radio */
.form-type-radio {
  display: flex;

  input[type='radio'] {
    display: none;

    &:checked + label::before {
      border-color: $d-text-primary-color;
    }

    &:checked + label::after {
      transform: scale(1);
      animation: button-radio-ripple 0.5s linear;
    }

    &:not(:checked):focus + label::after {
      transform: scale(0.4);
      background: $button-radio-border-color;
    }
  }

  label {
    position: relative;
    display: inline-block;
    height: $button-radio-size;
    margin-bottom: 0;
    margin-bottom: 10px;
    padding: 0 0 0 ($button-radio-size + 10px);
    cursor: pointer;
    vertical-align: bottom;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      transition: all 0.3s ease;
      transition-property: transform, border-color;
      border-radius: 50%;
    }

    &::before {
      top: 0;
      left: 0;
      width: $button-radio-size;
      height: $button-radio-size;
      border: 2px solid rgba($white, 0.6);
    }

    &::after {
      top: $button-radio-size / 2 - $button-radio-checked-size / 2;
      left: $button-radio-size / 2 - $button-radio-checked-size / 2;
      width: $button-radio-checked-size;
      height: $button-radio-checked-size;
      transform: scale(0);
      background: $d-text-primary-color;
    }
  }
}

.form-radios {
  display: flex;
  flex-direction: column;
}

/* Dropdown */
.dropbutton-wrapper {
  max-width: inherit !important;
  margin-right: 0 !important;
  padding-right: 0 !important;

  .dropbutton-widget {
    position: inherit !important;
    padding-right: 0 !important;
    border: none;
    background-color: transparent;
  }

  .custom-dropdown {
    border-bottom: 2px solid $d-text-primary-color;

    .links {
      display: flex;
      align-items: center;
      padding-top: 0;
      color: $white;
      border-top: transparent;
      border-right: none;
      border-bottom: none;
      border-left: none;
      background-color: transparent;

      a {
        display: inline-block;
        padding: 0 10px;
        color: rgba($white, 0.87);
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
      }

      &::after {
        display: none;
      }
    }

    .uparrow {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 30px;
      color: $white;
      border: none;
      background-color: transparent;
      box-shadow: none;

      &:focus {
        outline: none;
      }
    }

    .caret {
      margin-left: 0;
      padding: 4px;
    }

    .dropdown-menu {
      position: absolute;
      z-index: 1000;
      top: 34px !important;
      right: auto !important;
      left: 0;
      left: 50% !important;
      float: left;
      min-width: 10rem;
      margin: 0.125rem 0 0;
      padding: 0.5rem 0;
      list-style: none;
      transform: translate(-50%, 0) !important;
      text-align: left;
      color: rgba($black, 0.87);
      border: 1px solid rgba($black, 0.15);
      border-radius: 4px;
      background-color: $d-primary-color;
      background-clip: padding-box;
      font-size: 1rem;

      li {
        display: flex;
        @include transition(all 0.2s ease-in-out);

        border-top: none;

        a {
          display: block;
          clear: both;
          width: 100%;
          margin-right: 0;
          padding: 4px 24px;
          text-align: inherit;
          white-space: nowrap;
          color: rgba($white, 0.87);
          border: 0;
          background: 0 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;

          .glyphicon {
            margin-right: 12px;
          }
        }

        &.dropbutton-toggle {
          display: none;
        }

        &:hover {
          background-color: $d-secondary-color;
        }
      }
    }
  }
}

/* Form Elements for Details page */
.accordion-body,
.details-wrapper {
  &.accordion-body,
  &.card-body {
    .form-wrapper:first-child {
      margin-top: 0;
    }
    .form-wrapper {
      margin-top: 20px;
    }
    .form-type-managed-file,
    fieldset.form-item {
      margin-top: 1em !important;
      margin-bottom: 30px;
      border: 1px solid $d-secondary-color;
      border-radius: 10px;
      background-color: inherit;
      background-color: $d-primary-color;
      box-shadow: 0 4px rgba($black, 0.15);

      .preview img {
        border: 1px solid $d-secondary-color;
        background: $white;
      }

      .form-file {
        padding: 10px;
        border: 1px solid rgba($white, 0.38);
      }

      legend,
      label {
        position: relative;
        padding: 15px 25px;
        list-style: none;
        color: $white;
        border-color: transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $d-secondary-color !important;
        font-size: 18px;
        font-weight: normal !important;
        line-height: 16px;

        &.control-label.option {
          background-color: transparent !important;
        }
      }

      .form-type-radio label {
        padding-top: 0;
        font-size: 16px !important;
      }
    }

    .form-item {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }

      &.js-form-item {
        &:last-child {
          .help-block {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }

    .form-type-item {
      clear: both;
      overflow: hidden;
      margin-top: 0;
      font-size: 16px;
      line-height: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      label {
        position: relative;
        float: left;
        width: 145px;
        margin-right: 20px;
        margin-bottom: 0;
        padding-right: 0.5em;
        color: $light-white;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          content: ' : ';
        }

        + div {
          display: flex;
        }

        @include for-phone-portrait-landscape-up() {
          width: auto;
          min-width: 40%;
          max-width: 40%;
          margin-right: 5%;
          margin-bottom: 1px;
          word-break: break-word;
          line-height: 24px;
        }
      }

      @include for-phone-portrait-landscape-up() {
        line-height: 24px;
      }
    }

    .field--label-inline,
    .field--label-above {
      clear: both;

      .field--label {
        position: relative;
        float: left;
        width: 145px;
        margin-right: 20px;
        margin-bottom: 15px;
        padding-right: 0.5em;
        color: $light-white;
        font-size: 16px;
        font-weight: 500;
        line-height: unset;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          content: ' : ';
        }

        @include for-phone-portrait-landscape-up() {
          width: auto;
          min-width: 40%;
          max-width: 40%;
          word-break: break-word;
          line-height: 24px;
        }
      }

      .field--items {
        float: left;
        padding-right: 0.5em;

        .field--item {
          width: auto;

          .table-responsive {
            margin-bottom: 16px;

            tr {
              td {
                &:first-child {
                  white-space: nowrap;
                }
              }
            }
          }

          @include for-phone-table-up() {
            width: 100%;
            padding: 0;
          }

          @include for-phone-portrait-landscape-up() {
            float: inherit;
            width: 100%;
            min-width: auto;
            max-width: inherit;
            margin-bottom: 0;
            margin-left: 0;
          }
        }

        @include for-phone-table-up() {
          width: 100%;
          padding: 0;
        }
      }

      .field--item {
        float: left;
        width: calc(100% - 165px);
        margin-bottom: 15px;
        padding-right: 0.5em;
        color: $light-white;
        font-size: 16px;
        font-weight: 400;
        line-height: unset;

        @include for-phone-portrait-landscape-up() {
          width: auto;
          min-width: 50%;
          max-width: 50%;
          margin-bottom: 15px;
          margin-left: 0;
          line-height: 24px;
        }
      }

      @include for-phone-table-up() {
        display: inline-block;
        width: 100%;
      }
    }

    .field--name-tags,
    .field--name-field-tags,
    .field--type-cidr-block,
    .field--type-key-value {
      .table-responsive {
        table {
          tr {
            .field-label {
              h4 {
                color: $light-white;
              }
            }

            .field-multiple-drag {
              + td {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                .ajax-new-content {
                  display: flex;
                  flex-wrap: wrap;
                  width: 100%;
                }

                .col-sm-6 {
                  padding: 0 15px;

                  .js-form-item {
                    margin-bottom: 40px;

                    @include for-phone-portrait-landscape-up() {
                      margin-bottom: 25px;
                    }
                  }
                }
              }
            }
          }

          &.table-striped {
            > tbody {
              > tr:nth-of-type(odd) {
                background-color: transparent;
              }
            }
          }
        }
      }
    }

    .field--type-ip-permission {
      .table-responsive {
        table {
          tr {
            .field-label {
              h4 {
                color: $light-white;
              }
            }

            .field-multiple-drag {
              + td {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                .ajax-new-content {
                  display: flex;
                  flex-wrap: wrap;
                  width: 100%;
                }

                .form-item {
                  width: 50%;
                  margin: 0;
                  padding: 0 12px;

                  label {
                    margin-bottom: 8px;
                  }

                  .select-wrapper {
                    @include for-phone-portrait-landscape-up() {
                      width: 200px;
                    }
                  }

                  @include for-phone-portrait-landscape-up() {
                    width: 100%;
                  }
                }
              }
            }
          }

          &.table-striped {
            > tbody {
              > tr:nth-of-type(odd) {
                background-color: transparent;
              }
            }
          }
        }
      }
    }

    #k8s_entity_metrics {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .col-sm-6 {
        padding: 0 15px;

        &:first-child {
          @include for-phone-portrait-landscape-up() {
            margin: 0 0 10px;
          }
        }
      }
    }

    .details-pre {
      overflow: hidden;

      .field--item {
        width: 100%;
        margin-left: 0 !important;

        @include for-phone-portrait-landscape-up() {
          float: left;
          width: 100%;
          max-width: 100%;
        }
      }
    }

    pre {
      display: block;
      margin: 0 0 10px;
      padding: 9.5px;
      word-wrap: break-word;
      word-break: break-all;
      color: rgba($white, 0.4);
      border-radius: 4px;
      background-color: $pre-bg;
      font-size: 14px;
      line-height: 1.42857;
    }

    .js-form-item {
      .form-control {
        height: 46px;
        margin-top: 0;
        margin-bottom: 40px;
        padding: 12px 16px;
        color: rgba($white, 0.87);
        border: 1px solid rgba($white, 0.38);
        border-radius: 8px;
        background-color: $d-primary-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;

        &:hover {
          color: rgba($white, 0.7);
          border-color: rgba($white, 0.38);
          background-color: $d-primary-color;
          box-shadow: none;
        }

        &:focus,
        &:active {
          border-color: rgba($d-text-primary-color, 0.8);
          box-shadow: none;
        }

        &.form-autocomplete {
          background-image: url('../../images/autocomplete.svg');
          background-repeat: no-repeat;
          background-position: right 16px center;
        }

        + .help-block {
          margin-top: -40px;
          margin-bottom: 40px;

          @include for-phone-portrait-landscape-up() {
            margin-top: -25px;
            margin-bottom: 25px;
          }
        }

        @include for-phone-portrait-landscape-up() {
          height: 40px;
          margin-bottom: 25px;
          padding: 6px 16px;
        }
      }

      &:last-child {
        @include for-phone-table-up() {
          display: inline-block;
          width: 100%;
        }
      }

      .select-wrapper {
        .form-select {
          &.form-control {
            @extend .form-control;

            padding: 10px 30px 10px 16px;
            background-image: url('../../images/download.svg');
            background-repeat: no-repeat;
            background-position: right 12px center;
            background-size: 16px 16px;

            option {
              padding: 12px 14px;
              font-size: 16px;
              font-weight: 400;
              line-height: 16px;
            }
          }
        }

        + .help-block {
          margin-top: -40px;
          margin-bottom: 40px;

          @include for-phone-portrait-landscape-up() {
            margin-top: -25px;
            margin-bottom: 25px;
          }
        }
      }

      .form-textarea-wrapper {
        textarea {
          height: 190px;
          resize: none;

          &:focus,
          &:active {
            border-color: rgba($d-text-primary-color, 0.8);
            box-shadow: none;
          }

          @include for-phone-portrait-landscape-up() {
            height: 95px;
          }
        }
      }

      .help-block {
        margin-bottom: 20px;

        p {
          font-weight: bold;
        }
      }

      .select2-container--default {
        .select2-selection--single {
          height: 46px;
          padding: 0 30px 0 16px;
          color: rgba($white, 0.47);
          border-color: rgba($white, 0.38);
          background-color: transparent;

          .select2-selection__rendered {
            color: rgba($white, 0.47);
            font-size: 16px;
            line-height: 45px;

            @include for-phone-portrait-landscape-up() {
              line-height: 40px;
            }
          }

          .select2-selection__arrow {
            top: 0;
            right: 40px;
            bottom: 0;
            display: block;
            width: 30px;
            margin: auto;
            background-image: url('../../images/download.svg');
            background-repeat: no-repeat;
            background-position: right 12px center;
            background-size: 16px 16px;

            b {
              display: none;
            }

            &::after {
              position: absolute;
              top: 0;
              right: -28px;
              bottom: 0;
              width: 27px;
              height: 24px;
              margin: auto;
              content: '';
              opacity: 0.5;
              background-image: url('../../images/autocomplete.svg');
              background-repeat: no-repeat;
              background-position: center;
              background-size: 80% 80%;
            }
          }

          @include for-phone-portrait-landscape-up() {
            height: 40px;
          }
        }
      }

      .ts-control {
        color: rgba(white, 0.87);
        background-color: $d-primary-color;
        font-size: 16px;
      }
    }

    .table-responsive {
      + .clearfix {
        .btn {
          margin-top: 16px;
        }
      }

      + .description {
        + .clearfix {
          .btn {
            margin-top: 16px;
          }
        }
      }
    }

    .field--name-field-min-count {
      position: relative;
      float: left;
      width: 48%;
      margin-right: 2%;

      @include for-phone-portrait-landscape-up() {
        float: none;
        width: 100%;
        margin-right: 0;
      }
    }

    .field--name-field-max-count {
      position: relative;
      float: right;
      width: 48%;
      margin-left: 2%;

      @include for-phone-portrait-landscape-up() {
        float: none;
        width: 100%;
        margin-left: 0;
      }
    }

    .min-max-wrap {
      position: relative;
      display: block;

      &::after,
      &::before {
        position: absolute;
        top: 0;
        width: 23px;
        margin: auto;
        cursor: pointer;
        pointer-events: none;
        background-color: $d-primary-color;
        line-height: 0;
      }

      &::after {
        right: 10px;
        height: 12px;
        margin-top: 14px;
        content: '\e253';
        text-align: center;
        color: $d-text-primary-color;
        font-family: 'Glyphicons Halflings', sans-serif;
        font-size: 12px;

        @include for-phone-portrait-landscape-up() {
          margin-top: 12px;
        }
      }

      &::before {
        top: 26px;
        right: 10px;
        height: 15px;
        content: '\e252';
        color: $d-text-primary-color;
        font-family: 'Glyphicons Halflings', sans-serif;
        font-size: 22px;

        @include for-phone-portrait-landscape-up() {
          top: 24.5px;
        }
      }
    }

    .tabledrag-toggle-weight {
      width: 34px;
      height: 19px;
      margin-bottom: 28px;
      padding: 0;
      cursor: pointer;
      border: none;
      border-radius: 0;
      outline: none;
      background-image: url('../../images/drag.svg');
      background-repeat: no-repeat;
      background-position: right;
      font-size: 0;

      @include for-phone-portrait-landscape-up() {
        margin-bottom: 15px;
        background-size: 80%;
      }
    }

    .container-inline {
      display: flex;

      b {
        margin-right: 10px;
      }

      .form-radios {
        margin-top: 5px;

        .form-type-radio {
          margin-right: 10px;
        }
      }
    }

    .form-group {
      &:first-child {
        .table-responsive {
          + .description {
            + .clearfix {
              .btn {
                margin-bottom: 16px;
              }
            }
          }

          + .clearfix {
            .btn {
              margin-bottom: 16px;
            }
          }
        }
      }
    }

    .form-type-select {
      select[multiple='multiple'] {
        &.form-control {
          height: 142px;
          background-image: none;

          &:focus {
            option:checked {
              color: $white;
              background: $d-text-primary-color;
            }
          }

          @include for-phone-portrait-landscape-up() {
            height: 95px;
          }
        }
      }
    }

    #edit-container {
      .form-radios {
        margin-bottom: 20px;
      }

      #edit-start-time-title,
      #edit-stop-time-title {
        .control-label {
          &::after {
            display: none;
          }
        }

        + .container-inline {
          display: flex;
          align-items: center;

          .form-item {
            margin-right: 15px;

            &:last-child {
              margin-left: 15px;
            }
          }

          .form-control {
            margin-bottom: 0;
          }
        }
      }

      #edit-start-time-title {
        + .container-inline {
          margin-bottom: 30px;

          .form-item {
            margin-right: 15px;
          }
        }
      }
    }

    #edit-k8s-startup-time-title {
      margin-top: 20px;
      margin-bottom: 0;

      + .container-inline {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .form-wrapper {
          &:last-child {
            margin-bottom: 0;

            .form-item {
              margin-right: 15px;

              &:last-child {
                margin-left: 15px;
              }
            }
          }

          .form-item {
            margin-right: 15px;
          }
        }
      }
    }

    #edit-k8s-stop-time-title {
      margin-top: 0;
      margin-bottom: 0;

      + .container-inline {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        .form-wrapper {
          &:last-child {
            margin-bottom: 0;

            .form-item {
              margin-right: 15px;

              &:last-child {
                margin-left: 15px;
              }
            }
          }

          .form-item {
            margin-right: 15px;
          }
        }
      }
    }

    .vertical-tabs {
      margin-bottom: 0;

      .vertical-tabs__panes {
        .form-wrapper {
          margin-bottom: 0;
        }
      }
    }

    .field--label-above {
      &.field--name-outbound-permission,
      &.field--name-ip-permission {
        .field--items {
          .table-responsive {
            @include for-phone-portrait-landscape-up() {
              width: 26%;
            }
          }
        }
      }
    }

    .ansi-block {
      color: $white;
      background-color: $black;
    }

    .form-type-date {
      margin-right: 20px;

      .form-date,
      .form-time {
        color-scheme: dark;

        &::-webkit-calendar-picker-indicator {
          cursor: pointer;
          filter: invert(0);
        }
      }
    }

    .alert {
      &.alert-info {
        margin: 0 0 15px;
      }

      + .actions {
        display: flex;
        align-items: center;

        .form-type-select {
          .form-control {
            height: 36px;
            margin-bottom: 20px;
            padding: 5px 30px 5px 16px;
          }
        }

        .form-actions {
          margin: -5px 0 0 20px;

          @include for-phone-portrait-landscape-up() {
            margin: 0 0 20px;
          }
        }

        @include for-phone-portrait-landscape-up() {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

/* Add Instance form */
.aws-cloud-instance-form {
  .details-wrapper {
    .form-item {
      .select-wrapper,
      .form-text {
        margin-left: -3px;
      }
    }
  }
}

/* Edit options */
#edit-others {
  .details-wrapper {
    #edit-revision-log-message-wrapper {
      margin-bottom: 40px;

      + div {
        + div {
          margin-bottom: 0;
        }
      }

      @include for-phone-portrait-landscape-up() {
        margin-bottom: 25px;
      }
    }

    #edit-uid-wrapper {
      margin-bottom: 40px;

      .help-block {
        margin-top: 0;
      }

      @include for-phone-portrait-landscape-up() {
        margin-bottom: 25px;
      }
    }

    .form-item {
      + #edit-uid-wrapper {
        margin-bottom: 0;
      }
    }
  }
}

/* Delete Resources */
#edit-delete-resources {
  .details-wrapper {
    &.card-body {
      .form-item {
        margin-bottom: 0;
      }
    }
  }
}

/* Security Group */
#edit-security-group {
  .details-wrapper {
    &.card-body {
      .form-item {
        &:first-child {
          margin-bottom: 40px;

          @include for-phone-portrait-landscape-up() {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

/* Copy form */
.cloud-launch-template-form,
.cloud-project-form,
.cloud-store-form {
  .details-wrapper {
    &.card-body {
      .form-item {
        &.form-type-textfield {
          margin-bottom: 40px;

          @include for-phone-portrait-landscape-up() {
            margin-bottom: 25px;
          }
        }
      }

      .form-wrapper {
        margin-bottom: 40px;

        &.field--name-field-startup-time-hour,
        &.field--name-field-stop-time-hour {
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0;

          .form-type-textfield {
            margin-bottom: 0;
          }
        }

        &.field--name-field-enable-resource-scheduler {
          margin-bottom: 0;

          + div {
            margin-top: 40px;
          }
        }

        &.field--name-field-enable-time-scheduler {
          margin-bottom: -30px;

          + #edit-k8s-startup-time-title {
            margin-top: 70px;
          }
        }

        @include for-phone-portrait-landscape-up() {
          margin-bottom: 25px;
        }
      }
    }
  }
}

.cloud-launch-template-form {
  .details-wrapper.card-body {
    .form-item-time-scheduler-option-title {
      position: relative;
      top: 50px;
    }
  }
}

.cloud-store-form {
  #edit-others {
    #edit-uid-wrapper {
      margin-bottom: 0;
    }
  }
}

/* Confirmaion Form */
.confirmation {
  .form-type-select,
  .form-type-number,
  .field--type-string,
  .form-type-textfield {
    margin-bottom: 40px;

    @include for-phone-portrait-landscape-up() {
      margin-bottom: 25px;
    }
  }
}

/* Select 2 */
.select2-container {
  .select2-search__field {
    color: $d-primary-color;
  }

  .select2-results {
    background-color: $d-secondary-color;
  }
}

.select2-dropdown {
  .select2-search {
    &.select2-search--dropdown {
      background-color: $d-primary-color;

      .select2-search__field {
        color: rgba($white, 0.47);
        background: $d-primary-color;

        &:focus,
        &:active,
        &:hover {
          border-color: rgba($white, 0.38);
        }
      }
    }
  }
}

.select2-container--default {
  .select2-results__option--highlighted[aria-selected] {
    background-color: $d-secondary-color;
  }

  .select2-results__option[aria-selected='true'] {
    color: $white;
    background-color: $d-text-primary-color;
  }
}

.ui-widget-content {
  background-color: $d-primary-color;

  li {
    .ui-menu-item-wrapper {
      display: block;
      padding: 4px 16px;
      text-decoration: none;
      color: rgba($white, 0.47);

      &:hover,
      &.ui-state-active {
        color: $white;
        border-color: $d-text-primary-color;
        background-color: $d-text-primary-color;
      }
    }
  }
}

.field--widget-options-select.form-group.js-form-wrapper.form-wrapper fieldset {
  border: none;
  background-color: transparent;
  box-shadow: none;
  legend {
    display: none;
    border: none;
    background-color: transparent;
  }

  > div {
    padding: 0;
  }
}

.field--widget-options-buttons.form-group.js-form-wrapper.form-wrapper
  fieldset {
  position: relative;
  top: 50px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  legend {
    position: relative;
    display: none;
    border: none;
    background-color: transparent;
  }

  > div {
    position: relative;
    margin-bottom: 30px;
    padding: 0;
  }
}

.ts-dropdown.single {
  padding-left: 20px;
  color: rgba(white, 0.87);
  background-color: #363636;
  font-size: 16px;

  input {
    color: rgba(white, 0.87);
  }
}

.ui-dialog {
  .ui-button .ui-icon {
    background: none;
    background-position: 160px 111px;
  }

  .ui-icon-closethick {
    background-position: 0;
  }

  .ui-dialog-titlebar {
    color: $white;
    background: $black !important;
  }

  .ui-dialog-content {
    color: $white-opacity !important;
    background: $d-primary-shade-color !important;

    .field-edit-link button {
      color: $d-text-primary-color;
    }

    a {
      color: $d-text-primary-color;
    }

    .btn-danger a {
      color: $black;
    }
  }
}

.search-advanced {
  .js-form-wrapper {
    .fieldset-wrapper {
      padding: 25px;
    }
  }
}
