.navbar-default {
  overflow-y: auto;
  height: 100vh;
  border-right: 1px solid $border-color;
  background-color: $d-secondary-color;

  .navbar {
    padding: 0;

    .navbar-header {
      margin-bottom: 13px;
      border-bottom: 1px solid $border-color;

      .logo {
        display: block;
        padding: 39px 0;

        @include for-phone-table-up() {
          display: none;
        }
      }

      @include for-phone-table-up() {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        border-bottom: none;
      }

      @include for-phone-table-up() {
        .navbar-toggler {
          position: relative;
          left: 0;
          display: flex;
          display: inline;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
          padding: 0;
          cursor: pointer;
          @include transition(all 0.3s ease-in-out);
          @include transform(rotate(0deg));
          color: $white;

          &:active,
          &:focus {
            border: none;
            box-shadow: none;
          }

          span {
            position: absolute;
            left: 0;
            display: block;
            width: 25px;
            height: 3px;
            @include transition(all 0.3s ease-in-out);
            @include transform(rotate(0deg));
            transform-origin: left center;
            opacity: 1;
            border-radius: 0;
            background: $white;

            &:nth-child(1) {
              top: 0;
            }

            &:nth-child(2) {
              top: 8px;
            }

            &:nth-child(3) {
              top: 16px;
            }
          }

          &.open {
            span {
              &:nth-child(1) {
                top: 0;
                left: 0;
                @include transform(rotate(45deg));
              }

              &:nth-child(2) {
                width: 0%;
                opacity: 0;
              }

              &:nth-child(3) {
                top: 17px;
                left: 0;
                @include transform(rotate(-45deg));
              }
            }
          }
        }
      }

      @include for-phone-portrait-landscape-up() {
        .nav-top {
          display: none;

          &:last-child {
            display: inline-flex;
          }
        }
      }
    }

    .navbar-collapse {
      margin-left: 20px;

      .logo {
        display: none;

        @include for-phone-table-up() {
          display: block;
          padding: 20px 16px;
          border-bottom: 1px solid $border-color;
        }
      }

      nav {
        ul.navbar-nav {
          margin: 0;

          li {
            width: 100%;

            &.open {
              > a.dropdown-toggle {
                color: $d-text-primary-color;
                border-radius: 4px;
                background-color: $d-text-light-primary-color;

                .caret {
                  @include transform(rotate(-135deg));
                }
              }

              > .dropdown-menu {
                display: block;
              }
            }

            a {
              position: relative;
              display: block;
              padding: 10px 44px 10px 10px;
              cursor: pointer;
              @include transition(all 0.3s ease-in-out);
              white-space: inherit;
              word-break: break-all;
              color: rgba($white, 0.87);
              font-size: 16px;
              font-weight: 500;
              line-height: 21px;

              &::after {
                display: none;
              }

              .caret {
                position: absolute;
                top: 50%;
                right: 20px;
              }

              &:hover,
              &:focus,
              &:active {
                color: $d-text-primary-color;
                border-radius: 4px;
                background-color: $d-text-light-primary-color;

                .caret {
                  border-color: $d-text-primary-color;
                }
              }

              @include for-phone-table-up() {
                padding: 12px 44px 12px 26px;
                line-height: 24px;
              }
            }

            .dropdown-menu {
              position: relative;
              padding: 0;
              @include transition(all 0.3s ease-in-out);
              border: none;
              background-color: $d-primary-shade-color;

              li {
                &.open {
                  a.dropdown-toggle {
                    color: $off-white;
                    background-color: transparent;

                    .caret {
                      @include transform(rotate(-135deg));
                    }
                  }
                }

                a.dropdown-submenu-toggle {
                  display: block;
                  width: 100%;
                  padding: 10px 44px 10px 20px;
                  color: $white-opacity;
                  font-weight: 400;

                  .caret {
                    @include transform(rotate(45deg));
                  }

                  &:hover,
                  &:focus,
                  &:active {
                    color: $off-white;
                    background-color: transparent;

                    .caret {
                      border-color: $off-white;
                    }
                  }

                  @include for-phone-table-up() {
                    padding: 10px 44px 10px 40px;
                  }
                }

                .dropdown-menu {
                  position: relative;
                  top: 0 !important;
                  left: 0 !important;
                  background-color: transparent;

                  li {
                    a {
                      display: block;
                      width: 100%;
                      padding: 10px 44px 10px 30px;
                      color: $white-opacity;
                      font-weight: 300;

                      &:hover {
                        color: $off-white;
                        background-color: transparent;
                      }

                      &.is-active {
                        color: $off-white;
                      }

                      @include for-phone-table-up() {
                        padding: 12px 44px 12px 50px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .region-navigation-collapsible {
        @include for-phone-table-up() {
          height: 100vh;
        }
      }

      @include for-xxl-desktop-up() {
        margin-left: 50px;
      }

      @include for-phone-table-up() {
        position: fixed;
        z-index: 9991;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 0;
        height: 100vh;
        margin-left: 0;
        background: $d-secondary-color;
        &.active {
          left: 0;
          width: 250px;
          height: 100vh;
          @include transition(all 0.01s ease-in-out);
        }
      }
    }
  }

  @include for-phone-table-up() {
    height: auto;
    margin-bottom: 0;
    padding: 16px 20px 16px 16px;
  }
}

/* Maintenance page */
.maintenance-page {
  .navbar {
    margin-bottom: 25px;
  }

  .navbar-default {
    height: auto;
  }

  .navbar-brand {
    display: none;
  }
}

/* Right side section */
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 18px 50px 18px 30px;
  background-color: $d-secondary-color;

  #block-rigel-account-menu {
    min-width: 161px;
    margin-left: auto;

    .navbar-nav {
      display: flex;
      flex-direction: inherit;
      align-items: center;
      margin-left: 0;

      li {
        position: relative;
        margin-left: 15px;

        &:last-child {
          margin-left: 30px;

          &::before {
            position: absolute;
            top: 0;
            left: -15px;
            width: 1px;
            height: 100%;
            content: '';
            background-color: $border-color;

            @include for-phone-table-up() {
              display: none;
            }
          }

          a {
            position: relative;
            font-size: 0;

            &::after {
              content: '\e017';
              color: $d-text-primary-color;
              font-family: 'Glyphicons Halflings', sans-serif;
              font-size: 22px;
            }
          }

          @include for-phone-table-up() {
            margin-left: 20px;
          }
        }

        &:first-child {
          a {
            @include transition(all 0.3s ease-in-out);

            color: $off-white;
            font-size: 16px;
            font-weight: 500;
            line-height: 21px;
            display: flex;
            align-items: center;
            column-gap: 10px;

            &:hover {
              color: $d-text-primary-color;
            }

            @include for-phone-table-up() {
              position: relative;
              display: inline-block;
              width: 23px;
              height: 23px;
              text-align: center;
              border-radius: 50%;
              background-color: $d-text-primary-color;
              font-size: 0;
              &::after {
                content: '\e008';
                color: $d-secondary-color;
                font-family: 'Glyphicons Halflings', sans-serif;
                font-size: 16px;
              }
            }
          }
        }

        &.first {
          &.last {
            &::before {
              display: none;
            }

            a {
              &::after {
                display: none;

                @include for-phone-table-up() {
                  display: inline-block;
                  content: '\e161';
                  font-size: 12px;
                  line-height: 23px;
                }
              }
            }
          }
        }

        @include for-phone-table-up() {
          margin-left: 20px;
        }
      }
    }

    @include for-phone-table-up() {
      position: absolute;
      right: 16px;
      min-width: auto;
    }
  }

  + .nav-top {
    display: none;
  }

  @include for-phone-table-up() {
    width: calc(100% - 25px);
    margin-bottom: 0;
    padding: 0 16px;
  }
}
