/* Mixins */

/* Transitions */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/* USAGE =====
.class-name {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
*/

/* Transform */
@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

/* USAGE =====
same as * Transitions
*/

/* Keyframes and animation */
@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

/* USAGE =====
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/

/* form actions */
@mixin marginremove {
  margin-top: 0;
  margin-bottom: 0;
}

/* media queries */

/* All mobile view (portrait & landscape phones, less than 767px) */
@mixin for-phone-portrait-landscape-up {
  @media (max-width: 767px) {
    @content;
  }
}

/* Tablet devices (less then 991px) */
@mixin for-phone-table-up {
  @media (max-width: 991px) {
    @content;
  }
}

/* Tablet devices (up 992px) */
@mixin for-tablet-up {
  @media (min-width: 992px) {
    @content;
  }
}

/* Medium devices (tablets, 768px and up) */
@mixin for-tablet-portrait-up {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

/* Large devices (desktops, 992px and up) */
@mixin for-tablet-landscape-up {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

/* Small devices (small desktops, 992px and up) */
@mixin for-small-device-up {
  @media (min-width: 1200px) {
    @content;
  }
}

/* Extra large devices (large desktops, 1400px and up) */
@mixin for-lg-desktop-up {
  @media (min-width: 1400px) {
    @content;
  }
}

/* Extra large devices (large desktops, 1600px and up) */
@mixin for-xxl-desktop-up {
  @media (min-width: 1601px) {
    @content;
  }
}

/* USAGE =====
.class-name {
  color: gray;
  @include for-phone-portrait-landscape-up(){
    padding: 10px;
  }
}
*/
