/* Table */
table.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0 !important;
  border-radius: 2px;
  background-color: $d-secondary-color;
  box-shadow: 0 4px rgba($black, 0.15);

  > :not(:first-child) {
    border-top: none !important;
  }

  thead {
    tr {
      background-color: rgb(50, 50, 50);

      th {
        padding: 13px 16px !important;
        text-align: left;
        vertical-align: middle;
        color: rgba($white, 0.87);
        border: none;
        border-bottom: 1px solid rgba($white, 0.05);
        background-color: rgba($d-table-hover, 0.04) !important;
        box-shadow: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;

        a {
          display: inline-block;
          text-align: left;

          &:hover,
          &:focus,
          &:active {
            color: rgba($white, 0.87);
          }

          .caret {
            margin-top: 0;
            margin-left: 10px;
            color: $d-text-primary-color;
          }

          .glyphicon.icon-after,
          .glyphicon {
            color: $d-text-primary-color;
          }
        }

        &.is-active {
          .caret {
            display: none;
            color: $d-text-primary-color;

            &:only-child,
            &:first-of-type {
              display: inline-block;
            }

            &.downarrow {
              display: none;
              @include transform(rotate(-135deg));

              &:only-child,
              &:first-of-type {
                display: inline-block;
              }
            }
          }
        }

        @include for-phone-table-up() {
          white-space: nowrap;
        }
      }
    }
  }

  tbody,
  tfoot {
    tr {
      border-bottom: 1px solid rgba($white, 0.05);
      background-color: $d-secondary-color !important;

      &:hover {
        background-color: rgba($d-table-hover, 0.04) !important;
      }

      &.selected {
        td {
          background-color: rgba($d-table-hover, 0.04) !important;
        }
      }

      td {
        padding: 6px 16px !important;
        text-align: left !important;
        vertical-align: middle;
        color: rgba($white, 0.87) !important;
        border: none !important;
        background-color: $d-secondary-color;
        box-shadow: none;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 24px !important;

        a {
          display: inline-block;
          @include transition(all 0.5s ease-in-out);
          color: $d-text-primary-color;
          font-size: 16px;
          font-weight: 400;
          line-height: 20.21px;

          &:hover,
          &:focus,
          &:active {
            color: $d-text-primary-color;
          }
        }

        &.empty {
          &.message {
            padding: 30px 16px !important;
          }
        }

        &.delta-order {
          vertical-align: top;

          + td {
            vertical-align: top;

            .remove-rule {
              position: relative;
              @extend .btn;
              @extend .btn-danger;

              &::before {
                margin-right: 5px;
                content: '\e014';
                vertical-align: top;
                color: $d-primary-color;
                font-family: 'Glyphicons Halflings', sans-serif;
                font-weight: 400;
              }
            }
          }
        }

        @include for-phone-table-up() {
          white-space: nowrap;
        }
      }
    }
  }

  &.table-striped {
    > tbody {
      > tr:nth-of-type(odd) {
        > * {
          --bs-table-accent-bg: transparent;
        }

        &:hover {
          > * {
            --bs-table-accent-bg: rgba(0, 0, 0, 0.075);
          }
        }
      }
    }
  }

  &.sticky-header {
    thead {
      tr {
        th {
          &.is-active {
            .caret {
              display: none;

              &:only-child,
              &:first-of-type {
                display: inline-block;
              }

              &.downarrow {
                display: none;

                &:only-child,
                &:first-of-type {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

.table-footer-wraper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px 25px;
  border-top: 1px solid rgba($white, 0.05);
  background-color: $d-secondary-color;
}

.table-responsive {
  @include for-phone-table-up() {
    display: block;
    overflow-x: scroll !important;
    margin-bottom: 0;
  }
}

.dataTable-container {
  .table {
    tr {
      th {
        a {
          .icon {
            margin-left: 4px;
          }
        }
      }
    }
  }
}

.select2-container--default {
  .select2-results {
    > .select2-results__options {
      overflow-y: clip;
    }
  }
}

table.select2-results {
  overflow-y: auto;

  tbody {
    display: inherit;
    overflow-y: inherit;
  }
}

/** Remove solid background from table rows **/
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-striped-bg: none;
}

.table > :not(caption) > * > * {
  background-color: transparent;
}
