h1,
.page-header {
  margin-bottom: 25px;
  color: $white;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.78px;

  @include for-phone-table-up() {
    display: block;
    margin-left: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
  }
}

.page-header {
  .field--label-inline,
  .field {
    display: flex;

    .field--label {
      margin-right: 3px;

      &::after {
        display: inline-block;
        content: ':';
        font-size: 22px;
      }
    }
  }
}

h2 {
  margin-top: 25px;
  color: $white;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.block-aws-cloud {
  .block-title {
    @include for-phone-portrait-landscape-up() {
      margin-bottom: 15px;
    }
  }
}
