/* Variables */
$d-primary-color: #292929;
$d-secondary-color: #363636;
$d-primary-shade-color: #3b3b3b;
$d-text-primary-color: #18c2e7;
$d-text-light-primary-color: rgba(24, 194, 231, 0.08);
$d-table-hover: #313131;
$d-dark-color: #333;

$white: #fff;
$light-white: rgba(255, 255, 255, 0.78);
$off-white: rgba(255, 255, 255, 0.8);
$white-opacity: rgba(255, 255, 255, 0.4);
$black: #000;
$pre-bg: #222;
$gray: #ccc;
$prebg: #222;
$danger-bg: #ff6565;
$admin-nav: #f5f5f2;
$admin-nav-text: #565656;
$admin-border: #ddd;

$alert-warning: #ff9f5a;
$alert-warning-text: #7b3107;
$alert-danger: #f8d7da;
$alert-danger-text: #842029;
$alert-success: #1e4945;
$border-color: rgba(255, 255, 255, 0.05);
$box-shadow: 0 4px rgba(29, 31, 34, 0.1);

/* Font family */
$fontroboto: Roboto, sans-serif;

/* Radio button */
$button-radio-border-color: rgba(255, 255, 255, 0.6);
$button-radio-size: 16px;
$button-radio-checked-size: 8px;
$button-radio-ripple-size: 12px;

@keyframes button-radio-ripple {
  0% {
    box-shadow: 0 0 0 1px rgba($d-text-primary-color, 0.25);
  }
  50% {
    box-shadow: 0 0 0 $button-radio-ripple-size
      rgba($d-text-primary-color, 0.25);
  }
  100% {
    box-shadow: 0 0 0 $button-radio-ripple-size rgba($d-text-primary-color, 0);
  }
}
