{#
/**
 * @file
 * Default theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @ingroup templates
 *
 * @see template_preprocess_menu_local_tasks()
 */
#}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <div class="tabs-wrap">
    <ul class="tabs--primary nav nav-tabs" id="tab_wrap">{{ primary }}</ul>
    <a href="javascript:void(0);" class="tab-icon d-none" id="right-button"><i class="glyphicon glyphicon-menu-down"></i></a>
  </div>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="tabs--secondary pagination pagination-sm">{{ secondary }}</ul>
{% endif %}
